h1 {
    text-align: center;
    color: var(--color-primary-500-contrast);
}

form {
    max-width: 25rem;
    margin: var(--space-6) auto;
    padding: var(--space-3);
    border-radius: var(--border-radius-medium);
    text-align: center;
    border-color: var(--color-primary-700);
    border-style: double;
    background-color: rgb(213, 187, 138);
}

form a {
    color: var(--color-primary-500-contrast);
}

form a:hover,
form a:active {
    color: var(--color-primary-200-contrast);
}
