form hr {
    border-color: var(--color-primary-700);
    margin: var(--space-5);
}

label {
    display: block;
    margin-bottom: var(--space-1);
}

input,
textarea {
    font: inherit;
    padding: var(--space-1);
    border-radius: var(--border-radius-small);
    border: none;
    width: 80%;
}
